<%if current_user%>
	<%if params[:category]%>
	<h1><%=params[:category]%></h1>
	<%else%>
	<h1>All Movies</h1>
	<%end%>
<% @movies.each do |movie| %>
	<a href="/movies/<%=movie.id%>"><%= image_tag movie.movie_img.url(:movie_index) %>
<%end%>
<%else%>
	<div class="jumbotron">
		<h1>Welcome! <small>Personal Movie/TV show reviewer</small></h1>
	</div>	
<%end%>
